@tailwind base;
@tailwind components;
@tailwind utilities;

/*
# this hides the username/pwd labels if desired
label{
  @apply sr-only;
} */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: red;
  font-size: xx-large;
  font-weight: bolder;
  margin-top: auto;
  text-align: center;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% {
    color: magenta;
  }
  50% {
    color: cyan;
  }
  100% {
    color: magenta;
  }
}

form {
  align-items: center;
  border-radius: 24px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 24px;
  width: 320px;
}

button {
  background-color: green;
  border-color: orange;
  border-radius: 8px;
  border-width: 6px;
  color: white;
  padding: 8px 64px;
  transition: 0.5s;
}

button:focus,
button:hover {
  background-color: greenyellow;
  transform: scale(1.12);
  transition: 0.5s;
} */
